﻿
@{
    ViewBag.Title = "اضافة كتاب جديد";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="container">
    <br />
    <h2>بيانات الكتاب</h2>
    <form action="@Url.Action("AddingBook","Book")" method="post" enctype="multipart/form-data" autocomplete="off">
        <br />
        <input id="WardLocCounter" name="WardLocCounter" type="text" class="ttext" value="@ViewBag.BookLoc" style="display: none;" />
        <input id="SaderLocCounter" name="SaderLocCounter" type="text" class="ttext" value="@ViewBag.BookLoc2" style="display: none;" />
        <input id="CopyCounter" name="CopyCounter" type="text" class="ttext" value="@ViewBag.CopyTo" style="display: none;" />
        <label>نوع الكتاب</label>
        <select id="BookType" name="BookType" class="ttext btn btn-light dropdown-toggle" onchange="BookFinction()">
            <option value=1>وارد</option>
            <option value=2>صادر</option>
        </select>
        <br />
        <div id="WaredDiv">
            <label style="width:18%; padding-right:2%;">رقم الوارد</label><label style="color:red; width:2%;">*</label> <input id="BookWard_Num" name="BookWard_Num" type="text" class="ttext" style="width:11%" maxlength="40" />
            <input id="ReadBook_Num2" name="ReadBook_Num2" type="text" value="@ViewBag.BookNum" style="width:8.5%" maxlength="40" readonly /> <br />
            <label style="width:18%; padding-right:2%;">تاريخ الوارد</label><label style="color:red; width:2%;">*</label> <input id="BookWard_Date" name="BookWard_Date" type="text" class="ttext" /> <br />
            <div id="WaredDiv2" style="margin-right: 0.5%">
                <label style="margin-right: 5.5%">مصدر الكتاب</label> <input id="WardLoc1" name="WardLoc1" type="text" class="ttext" maxlength="40" />
                <input type="button" id="b1" onclick="AddBookLoc()" value="اضافة">
                <br />
            </div>
            <label style="width:18%; padding-right:2%;">رقم الكتـاب</label><label style="color:red; width:2%;">*</label> <input id="Book_Num" name="Book_Num" type="text" class="ttext" maxlength="40" /> <br />
        </div>
        <div id="SaderDiv2">
            <label style="width:18%; padding-right:2%;">رقم الكتـاب</label><label style="color:red; width:2%;">*</label> <input id="Book_Num2" name="Book_Num2" type="text" style="width:11%" maxlength="40" />
            <input id="ReadBook_Num" name="ReadBook_Num" type="text" value="@ViewBag.BookNum" style="width:8.5%" maxlength="40" readonly /> <br />
        </div>
        <label style="width:18%; padding-right:2%;">تاريخ الكتـاب</label><label style="color:red; width:2%;">*</label> <input id="Book_Date" name="Book_Date" type="text" class="ttext" required /> <br />

        <div id="SaderDiv" style="margin-right: 0.5%">
            <label style="margin-right: 5.5%">الجهة المرسل اليها</label> <input id="SaderLoc1" name="SaderLoc1" type="text" class="ttext" maxlength="40" />
            <input type="button" id="b1" onclick="AddBookLoc2()" value="اضافة">
            <br />
        </div>

        <label style="width:33%; padding-right:15%;">الموضــوع<br /><br /><br /></label><label style="color:red; width:2%;">*<br /><br /><br /></label>
        <textarea rows="1" cols="50" id="Subject" name="Subject" type="text" style="height: 100px; width:35%;" maxlength="495" required></textarea> <br />

        <label style="width:35%; padding-right:15%;">ملاحظات<br /><br /><br /></label>
        <textarea rows="1" cols="50" name="Wazeer_Note" type="text" style="height: 100px; width:35%;" maxlength="495"></textarea>
        <br />

        <label>الوجهة أو التحويل</label>
        <select name="Destination" class="ttext btn btn-light dropdown-toggle">
            <option value=0>---- اختار الوجهة ----</option>
            <option value=1>المراسم</option>
            <option value=2>الشئون القانونية</option>
            <option value=3>الشئون العامة</option>
            <option value=4>مكتب رئيس الهيئة</option>
            <option value=5>خدمة المواطن</option>
            <option value=6>الشئون العسكرية</option>
        </select>
        <br />
        @*<label>حالـة الكتـاب</label>
            <select name="Status" class="ttext btn btn-light dropdown-toggle">
                <option value=0>اختار من القائمة</option>
                <option value=1>تم الرد</option>
                <option value=2>لم يتم الرد</option>
            </select>*@
        @*<br />*@
        <label>متى الرد؟</label>
        <select name="Duration" class="ttext btn btn-light dropdown-toggle">
            <option value=0>لا يوجد متابعة</option>
            <option value=1>خلال يوم</option>
            <option value=2>خلال يومين</option>
            <option value=3>خلال 3 أيام</option>
            <option value=4>خلال 4 أيام</option>
            <option value=5 selected>خلال 5 أيام </option>
            <option value=6>خلال 6 أيام</option>
            <option value=7>خلال 7 أيام</option>
            <option value=8>خلال 8 أيام</option>
            <option value=9>خلال 9 أيام</option>
            <option value=10>خلال 10 أيام</option>
            <option value=11>خلال 11 يوم</option>
            <option value=12>خلال 12 يوم</option>
            <option value=13>خلال 13 يوم</option>
            <option value=14>خلال 14 يوم</option>
            <option value=15>خلال 15 يوم</option>
            <option value=16>خلال 16 يوم</option>
            <option value=17>خلال 17 يوم</option>
            <option value=18>خلال 18 يوم</option>
            <option value=19>خلال 19 يوم</option>
            <option value=20>خلال 20 يوم</option>
            <option value=21>خلال 21 يوم</option>
            <option value=22>خلال 22 يوم</option>
            <option value=23>خلال 23 يوم</option>
            <option value=24>خلال 24 يوم</option>
            <option value=25>خلال 25 يوم</option>
            <option value=26>خلال 26 يوم</option>
            <option value=27>خلال 27 يوم</option>
            <option value=28>خلال 28 يوم</option>
            <option value=29>خلال 29 يوم</option>
            <option value=30>خلال 30 يوم</option>
        </select>
        <br />
        @*<label>الكتاب الذي تم الرد عليه</label> <input name="Book_Response" type="text" placeholder="----اكتب رقم الكتاب----" class="ttext" /> <br />*@
        <label style="margin-right:7%;">مرفقات</label>
        <input type="file" name="Postfile" id="Postfile" />
        <br />
        

        <div id="CopyDiv" style="margin-right: 0.5%">
            <label style="margin-right: 5.5%">نسخة الى</label> <input id="CopyTo1" name="CopyTo1" type="text" class="ttext" maxlength="40" />
            <input type="button" id="b1" onclick="AddCopy()" value="اضافة">
            <br />
        </div>
        <label>الكتاب سري</label>
        <select name="Secret" class="ttext btn btn-light dropdown-toggle">
            <option value=1>لا</option>
            <option value=2>نعم</option>
        </select>
        <br />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="حفظ الكتاب" />
    </form>

    <script>
        $(document).ready(function () {
            $('#SaderDiv').hide();
            $('#CopyDiv').hide();
            $('#SaderDiv2').hide();
        });

        function AddBookLoc() {
            var id = parseInt(document.getElementById("WardLocCounter").value);
            id = id + 1;
            document.getElementById("WardLocCounter").value = id;
            $("#WaredDiv2").append('<label>مصدر الكتاب ' + id + '</label>');
            $("#WaredDiv2").append('<input id="WardLoc' + id + '" name="WardLoc' + id + '" type="text" class="ttext" maxlength="40" /><br/>');
        };

        function AddBookLoc2() {
            var id = parseInt(document.getElementById("SaderLocCounter").value);
            id = id + 1;
            document.getElementById("SaderLocCounter").value = id;
            $("#SaderDiv").append('<label>الجهة المرسل اليها ' + id + '</label>');
            $("#SaderDiv").append('<input id="SaderLoc' + id + '" name="SaderLoc' + id + '" type="text" class="ttext" maxlength="40" /><br/>');
        };

        function AddCopy() {
            var id = parseInt(document.getElementById("CopyCounter").value);
            id = id + 1;
            document.getElementById("CopyCounter").value = id;
            $("#CopyDiv").append('<label>نسخة الى ' + id + '</label>');
            $("#CopyDiv").append('<input id="CopyTo' + id + '" name="CopyTo' + id + '" type="text" class="ttext" maxlength="40" /><br/>');
        };

        function BookFinction() {
            if ($('#BookType').val() == '2') {
                $('#SaderDiv').show();
                $('#SaderDiv2').show();
                $('#CopyDiv').show();
                $('#WaredDiv').hide();
                $('#WaredDiv2').hide();
            }
            else
            {
                $('#SaderDiv').hide();
                $('#SaderDiv2').hide();
                $('#CopyDiv').hide();
                $('#WaredDiv').show();
                $('#WaredDiv2').show();
            }
        }

        $(function () {
            $("#Book_Date").datepicker({ dateFormat: 'yy/mm/dd' }).val();
            $("#BookWard_Date").datepicker({ dateFormat: 'yy/mm/dd' }).val();
        });
    </script>
</div>

