﻿
@model correspondence.ViewModels.Books

@{
    ViewBag.Title = "تعديل كتاب ";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="container">
    <br />
    <div style="height: 76px">
        <input type="button" value="بيانات الكتاب" id="MainBtn1" class="btn btn-secondary" onclick="Main_buttonClicked()" />
        <input type="button" value="بيانات المرفقات" id="SecondBtn1" class="btn btn-secondary" onclick="SecondBtn_buttonClicked()" />
    </div>


    <div id="BookDetail">
        <h2>بيانات الكتاب</h2>
        <form action="@Url.Action("EditingBook","Book")" method="post" enctype="multipart/form-data" autocomplete="off">
            <br />
            <input id="id" name="id" type="text" class="ttext" value="@ViewBag.Books.id" style="display: none;" />
            <input id="Parent_id" name="Parent_id" type="text" class="ttext" value="@ViewBag.Books.Parent_id" style="display: none;" />
            <input id="WardLocCounter" name="WardLocCounter" type="text" class="ttext" value="@ViewBag.BookLoc" style="display: none;" />
            <input id="SaderLocCounter" name="SaderLocCounter" type="text" class="ttext" value="@ViewBag.BookLoc2" style="display: none;" />
            <input id="CopyCounter" name="CopyCounter" type="text" class="ttext" value="@ViewBag.CopyTo" style="display: none;" />
            <input id="Added_Date" name="Added_Date" type="text" class="ttext" value="@ViewBag.Books.Added_Date" style="display: none;" />
            <label>نوع الكتاب</label>
            <select id="BookType" name="BookType" class="ttext btn btn-light dropdown-toggle" onchange="BookFinction()">
                <option value=1>وارد</option>
                <option value=2>صادر</option>
            </select>
            <br />
            <div id="WaredDiv">
                <label style="width:18%; padding-right:2%;">رقم الوارد</label><label style="color:red; width:2%;">*</label> <input id="BookWard_Num" name="BookWard_Num" type="text" value="@ViewBag.Books.Ward_num" class="ttext"  style="width:11%"maxlength="40" />
                <input id="ReadBook_Num2" name="ReadBook_Num2" type="text" value="@ViewBag.Book_Num" style="width:8.5%" maxlength="40" readonly /> <br />
                <label style="width:18%; padding-right:2%;">تاريخ الوارد</label><label style="color:red; width:2%;">*</label> <input id="BookWard_Date" name="BookWard_Date" type="text" value="@ViewBag.Books.Ward_Date" class="ttext" /> <br />
                <div id="WaredDiv2" style="margin-right: 0.5%">
                    @{
                        int Bindex = 1;
                    }
                    @foreach (var BookLoc in ViewBag.BookLocations)
            {
                if (BookLoc.Book_type == "2")
                {
                    break;
                }
                if (Bindex == 1)
                {
                            <label style="margin-right: 5.5%">@BookLoc.Label_text</label> <input id="@BookLoc.Text_id" name="@BookLoc.Text_id" type="text" class="ttext" value="@BookLoc.Name" maxlength="40" />
                            <input type="button" id="b1" onclick="AddBookLoc()" value="اضافة">
                        }
                        else
                        {
                            <label>@BookLoc.Label_text</label> <input id="@BookLoc.Text_id" name="@BookLoc.Text_id" type="text" class="ttext" value="@BookLoc.Name" maxlength="40" />
                        }
                        <br />
                        Bindex++;
                    }

                    @if ((ViewBag.BookLocations.Count == 0) || (ViewBag.Books.BookType == "2"))
            {
                        <label style="margin-right: 5.5%">مصدر الكتاب</label> <input id="WardLoc1" name="WardLoc1" type="text" class="ttext" maxlength="40" />
                        <input type="button" id="b1" onclick="AddBookLoc()" value="اضافة">
                        <br />
                    }


                </div>
                <label style="width:18%; padding-right:2%;">رقم الكتـاب</label><label style="color:red; width:2%;">*</label> <input id="Book_Num" name="Book_Num" type="text" class="ttext" value="@ViewBag.Books.Book_Num" maxlength="40" /><br />
            </div>
            <div id="SaderDiv2">
                <label style="width:18%; padding-right:2%;">رقم الكتـاب</label><label style="color:red; width:2%;">*</label> <input id="SaderBook_Num" name="SaderBook_Num" value="@ViewBag.Books.Book_Num" type="text" style="width:11%" maxlength="40" />
                <input id="ReadBook_Num" name="ReadBook_Num" type="text" style="width:8.5%" maxlength="40" value="@ViewBag.Book_Num" readonly /> <br />

            </div>

            <label style="width:18%; padding-right:2%;">تاريخ الكتـاب</label><label style="color:red; width:2%;">*</label> <input id="Book_Date" name="Book_Date" type="text" class="ttext" value="@ViewBag.Books.Book_Date" required /> <br />

            <div id="SaderDiv" style="margin-right: 0.5%">
                @{
                    int Bindex2 = 1;
                }
                @foreach (var BookLoc in ViewBag.BookLocations)
            {
                if (BookLoc.Book_type == "1")
                {
                    break;
                }

                if (Bindex2 == 1)
                {
                        <label style="margin-right: 5.5%">@BookLoc.Label_text</label> <input id="@BookLoc.Text_id" name="@BookLoc.Text_id" type="text" class="ttext" value="@BookLoc.Name" maxlength="40" />
                        <input type="button" id="b1" onclick="AddBookLoc2()" value="اضافة">
                    }
                    else
                    {
                        <label>@BookLoc.Label_text</label> <input id="@BookLoc.Text_id" name="@BookLoc.Text_id" type="text" class="ttext" value="@BookLoc.Name" maxlength="40" />
                    }
                    <br />
                    Bindex2++;
                }

                @if ((ViewBag.BookLocations.Count == 0) || (ViewBag.Books.BookType == "1"))
            {
                    <label style="margin-right: 5.5%">الجهة المرسل اليها</label> <input id="SaderLoc1" name="SaderLoc1" type="text" class="ttext" maxlength="40" />
                    <input type="button" id="b1" onclick="AddBookLoc2()" value="اضافة">
                    <br />
                }

            </div>

            @*<label>الموضــوع</label> <input id="Subject" name="Subject" type="text" class="ttext" value="@ViewBag.Books.Subject" maxlength="140" required /> <br />*@
            <label style="width:33%; padding-right:15%;">الموضــوع<br /><br /><br /></label><label style="color:red; width:2%;">*<br /><br /><br /></label>
            <textarea rows="1" cols="50" id="Subject" name="Subject" type="text" style="height: 100px; width:35%;" maxlength="495" required>@ViewBag.Books.Subject</textarea> <br />

            <label style="width:35%; padding-right:15%;">ملاحظات<br /><br /><br /></label> <textarea rows="1" cols="50" id="Wazeer_Noteee" name="Wazeer_Noteee" type="text" style="height: 100px; width:35%;" maxlength="495">@ViewBag.Books.Wazeer_Note</textarea> <br />

            <label>الوجهة أو التحويل</label>
            <select id="Destination" name="Destination" class="ttext btn btn-light dropdown-toggle">
                <option value=0>---- اختار الوجهة ----</option>
                <option value=1>المراسيم</option>
                <option value=2>الشئون القانونية</option>
                <option value=3>الشئون العامة</option>
                <option value=4>مكتب رئيس الهيئة</option>
                <option value=5>خدمة المواطن</option>
                <option value=6>الشئون العسكرية</option>
            </select>
            <br />
            <label>حالـة الكتـاب</label>
            <select id="Status" name="Status" class="ttext btn btn-light dropdown-toggle" onchange="StatusFinction()">
                <option value=0>اختار من القائمة</option>
                <option value=1>تم الرد</option>
                <option value=2>لم يتم الرد</option>
            </select>
            <br />
            <label>متى الرد؟</label>
            <select id="DurationID" name="DurationID" class="ttext btn btn-light dropdown-toggle">
                <option value=0>لا يوجد متابعة</option>
                <option value=1>خلال يوم</option>
                <option value=2>خلال يومين</option>
                <option value=3>خلال 3 أيام</option>
                <option value=4>خلال 4 أيام</option>
                <option value=5>خلال 5 أيام </option>
                <option value=6>خلال 6 أيام</option>
                <option value=7>خلال 7 أيام</option>
                <option value=8>خلال 8 أيام</option>
                <option value=9>خلال 9 أيام</option>
                <option value=10>خلال 10 أيام</option>
                <option value=11>خلال 11 يوم</option>
                <option value=12>خلال 12 يوم</option>
                <option value=13>خلال 13 يوم</option>
                <option value=14>خلال 14 يوم</option>
                <option value=15>خلال 15 يوم</option>
                <option value=16>خلال 16 يوم</option>
                <option value=17>خلال 17 يوم</option>
                <option value=18>خلال 18 يوم</option>
                <option value=19>خلال 19 يوم</option>
                <option value=20>خلال 20 يوم</option>
                <option value=21>خلال 21 يوم</option>
                <option value=22>خلال 22 يوم</option>
                <option value=23>خلال 23 يوم</option>
                <option value=24>خلال 24 يوم</option>
                <option value=25>خلال 25 يوم</option>
                <option value=26>خلال 26 يوم</option>
                <option value=27>خلال 27 يوم</option>
                <option value=28>خلال 28 يوم</option>
                <option value=29>خلال 29 يوم</option>
                <option value=30>خلال 30 يوم</option>
            </select>
            <br />
            <label></label>
            <input id="RespBook_Date" name="RespBook_Date" type="text" class="ttext" value="@ViewBag.Books.Response_Date" readonly />
            <br />
            <label style="margin-right: 6%;">الكتاب الذي تم الرد عليه</label> <input id="Book_Response" name="Book_Response" type="text" placeholder="----اكتب رقم الكتاب----" class="ttext" value="@ViewBag.Books.Book_Response" readonly />
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".Search-modal" data-whatever="0">البحث</button>
            <br />
            @*<label style="margin-right: 11%;">مرفقات</label>
            <input id="Attachment" name="Attachment" type="text" class="ttext" value="@ViewBag.Books.Attachment" style="display: none;" />
            <input type="file" name="Postfile" id="Postfile" />
            @if (ViewBag.Books.Attachment != null)
            {
                <a href="@Url.Action("GetFile", "Book", new { id = ViewBag.Books.Attachment })">تنزيل</a>
            }
            <br />*@

            <div id="CopyDiv" style="margin-right: 0.5%">
                @{
                    int Bindex3 = 1;
                }
                @foreach (var Cop in ViewBag.CopyToList)
            {

                if (Bindex3 == 1)
                {
                        <label style="margin-right: 5.5%">@Cop.Label_text</label> <input id="@Cop.Text_id" name="@Cop.Text_id" type="text" class="ttext" value="@Cop.Name" maxlength="40" />
                        <input type="button" id="b1" onclick="AddCopy()" value="اضافة">
                    }
                    else
                    {
                        <label>@Cop.Label_text</label> <input id="@Cop.Text_id" name="@Cop.Text_id" type="text" class="ttext" value="@Cop.Name" maxlength="40" />
                    }
                    <br />
                    Bindex3++;
                }

                @if ((ViewBag.CopyToList.Count == 0) || (ViewBag.Books.BookType == "1"))
            {
                    <label style="margin-right: 5.5%">نسخة الى</label> <input id="CopyTo1" name="CopyTo1" type="text" class="ttext" maxlength="40" />
                    <input type="button" id="b1" onclick="AddCopy()" value="اضافة">
                    <br />
                }
            </div>
            <label>الكتاب سري</label>
            <select id="Secret" name="Secret" class="ttext btn btn-light dropdown-toggle">
                <option value=1>لا</option>
                <option value=2>نعم</option>
            </select>
            <br /><br /><br />
            <input class="btn btn-primary" type="submit" value="حفظ الكتاب" />
        </form>

        <form action="@Url.Action("GetSearchBooks","Book" , new { id = ViewBag.Books.id })" method="post" enctype="multipart/form-data" autocomplete="off">
            <!-- Modal -->
            <div id="TaModal1" class="modal fade Search-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-justify">
                            <h5 class="modal-title text-right" id="exampleModalLongTitle">بحث عن بيانات الكتب</h5>
                        </div>
                        <div class="modal-body" style="text-align:center">
                            <input type="hidden" id="MyText" />
                            <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">رقم الكتاب</label> <input id="ShBook_num" name="ShBook_num" style="width:25%;" placeholder="----اكتب رقم الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                            <br />
                            <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">الموضوع</label> <input id="ShSubject" name="ShSubject" style="width:25%;" type="text" placeholder="----اكتب موضوع الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                            <br />
                            <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">تاريخ الكتاب</label> <input id="ShBook_Date" name="ShBook_Date" style="width:25%;" type="text" placeholder="----اكتب تاريخ الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                            <br />
                            <input class="btn btn-primary" type="submit" value="بحث" />
                            @*<a class="btn btn-primary"  onclick="return Search_buttonClicked()">بحث</a>*@
                            <br /><br />
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">الموضــوع</th>
                                        <th scope="col">تاريخ الكتـاب</th>
                                        <th scope="col">رقم الكتـاب</th>
                                        <th scope="col">حالـة الكتـاب</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        int index = 1;
                                    }
                                    @foreach (var Book in ViewBag.Books_Search)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>@Book.Subject</td>
                                            <td>@Book.Book_Date</td>
                                            <td>@Book.Book_Num</td>
                                            <td>@Book.Status</td>
                                            <td><a href="@Url.Action("GetBookID", "Book", new { id = @Book.id , BNum = @Book.Book_Num })">اختيار</a></td>
                                        </tr>
                                        index++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>

    <div id="BookAttachment">
        <form action="@Url.Action("UploadAttach","Book")" method="post" enctype="multipart/form-data" autocomplete="off">
            <input id="id2" name="id2" type="text" class="ttext" value="@ViewBag.Books.id" style="display: none;" />
            <input id="Parent_id2" name="Parent_id2" type="text" class="ttext" value="@ViewBag.Books.Parent_id" style="display: none;" />
            <input id="WardLocCounter2" name="WardLocCounter2" type="text" class="ttext" value="0" style="display: none;" />
            <input id="SaderLocCounter2" name="SaderLocCounter2" type="text" class="ttext" value="0" style="display: none;" />
            <input id="CopyCounter2" name="CopyCounter2" type="text" class="ttext" value="0" style="display: none;" />
            <input id="Added_Date2" name="Added_Date2" type="text" class="ttext" value="@ViewBag.Books.Added_Date" style="display: none;" />
            <input id="RespBook_Date2" name="RespBook_Date2" type="text" class="ttext" value="@ViewBag.Books.Response_Date" style="display: none;" />
            <input id="Book_Response2" name="Book_Response2" type="text" placeholder="----اكتب رقم الكتاب----" class="ttext" value="@ViewBag.Books.Book_Response" style="display: none;" />
            <input id="BookWard_Num2" name="BookWard_Num2" type="text" value="" class="ttext" maxlength="40" style="display: none;" /> 
            <input id="BookWard_Date2" name="BookWard_Date2" type="text" value="" class="ttext" style="display: none;" /> 
            <input id="Book_Num2" name="Book_Num2" type="text" class="ttext" value="" maxlength="40" style="display: none;" />
            <input id="ReadBook_Num2" name="ReadBook_Num2" type="text"  style="display: none;" maxlength="40" value="@ViewBag.Book_Num" />
            <input id="SaderBook_Num2" name="SaderBook_Num2" type="text"  maxlength="40"  style="display: none;"  />
            <input id="Book_Date2" name="Book_Date2" type="text" class="ttext" value="" style="display: none;" /> 
            <input id="Subject2" name="Subject2" type="text" class="ttext" value="" maxlength="140" style="display: none;" /> 
            <input id="BookType2" name="BookType2" type="text" class="ttext" value="" maxlength="140" style="display: none;" /> 
            <input id="Destination2" name="Destination2" type="text" class="ttext" value="" maxlength="140" style="display: none;" /> 
            <input id="Status2" name="Status2" type="text" class="ttext" value="" maxlength="140" style="display: none;" /> 
            <input id="DurationID2" name="DurationID2" type="text" class="ttext" value="" maxlength="140" style="display: none;" />
            <textarea rows="1" cols="50" id="Wazeer_Note2" name="Wazeer_Note2" type="text" style="height: 100px; width:35%; display: none;" value="" maxlength="495" ></textarea> 
            <input id="Secret2" name="Secret2" type="text" class="ttext" value="" maxlength="140" style="display: none;" /> 
            <div id="FormDiv">

            </div>
            <h2>بيانات مرفقات الكتاب</h2>
            <br />
            <label style="margin-right: 11%;">مرفقات</label>
            <input type="file" name="Postfile" id="Postfile" />
            <input class="btn btn-primary" type="submit" value="تنزيل الكتاب" />
            <br />
            <br />

            @if (ViewBag.Book_Attach.Count > 0)
                    {
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color:#c3bf5b;">
                            <th scope="col">#</th>
                            <th scope="col">اسم الملف</th>
                            <th scope="col">نوع الملف</th>
                            <th scope="col">تنزيل</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int index4 = 1;
                        }
                        @foreach (var attach in ViewBag.Book_Attach)
                        {
                            <tr style="font-size: larger; font-weight: bold;">
                                <td>@index4</td>
                                <td>@attach.Name</td>
                                <td>@attach.content_type</td>
                                @if (attach.Attach != null)
                                {
                                    <td><a href="@Url.Action("GetFile", "Book", new { id = attach.id })">تنزيل</a></td>
                                }
                                else
                                {
                                    <td>لا يوجد الملف</td>
                                }
                            </tr>
                            index4++;


                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2>لا يوجد مرفقات لهذا الكتاب</h2>
            }


    </form>
</div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#BookDetail').show();
        $('#BookAttachment').hide();
        $('#Status').val(@ViewBag.Books.Status);
        $('#DurationID').val(@ViewBag.Books.Duration);
        $('#Secret').val(@ViewBag.Books.Secret);
        $('#Destination').val(@ViewBag.Books.Destination);
        $('#BookType').val(@ViewBag.Books.BookType);

        @*var Note = @ViewBag.Books.Wazeer_Note;
        $('#Wazeer_Noteee').val(Note);*@

        if ($('#BookType').val() == '2') {
            $('#SaderDiv').show();
            $('#SaderDiv2').show();
            $('#CopyDiv').show();
            $('#WaredDiv').hide();
            $('#WaredDiv2').hide();


        }
        else {
            $('#SaderDiv').hide();
            $('#SaderDiv2').hide();
            $('#CopyDiv').hide();
            $('#WaredDiv').show();
            $('#WaredDiv2').show();
        }

    });

    function Main_buttonClicked() {
        $('#BookDetail').show();
        $('#BookAttachment').hide();
        return false;
    };

    function SecondBtn_buttonClicked() {
        $('#BookDetail').hide();
        $('#BookAttachment').show();
        $('#BookWard_Num2').val(document.getElementById('BookWard_Num').value);
        $('#BookWard_Date2').val(document.getElementById('BookWard_Date').value);
        $('#Book_Num2').val(document.getElementById('Book_Num').value);
        $('#SaderBook_Num2').val(document.getElementById('SaderBook_Num').value);
        $('#Book_Date2').val(document.getElementById('Book_Date').value);
        $('#Subject2').val(document.getElementById('Subject').value);
        $('#BookType2').val(document.getElementById('BookType').value);
        $('#Destination2').val(document.getElementById('Destination').value);
        $('#Status2').val(document.getElementById('Status').value);
        $('#Wazeer_Note2').val(document.getElementById('Wazeer_Noteee').value);
        $('#Secret2').val(document.getElementById('Secret').value);
        $('#DurationID2').val(document.getElementById('DurationID').value);

        if ($('#BookType').val() == '1') {
            var id = parseInt(document.getElementById("WardLocCounter").value);
            var i = parseInt(document.getElementById("WardLocCounter2").value);
            while (i < id) {
                var j = i + 1;
                $("#FormDiv").append('<input id="NWardLoc' + j + '" name="NWardLoc' + j + '" type="text" class="ttext" maxlength="40" style="display: none;"  />');
                i = i + 1;
            }
            var index = 1;
            while (index <= i) {
                var ward = "NWardLoc" + index;
                $('#' + ward).val(document.getElementById('WardLoc' + index).value);
                index = index + 1;
            }
            document.getElementById("WardLocCounter2").value = i;
        }
        else {
            var id = parseInt(document.getElementById("SaderLocCounter").value);
            var i = parseInt(document.getElementById("SaderLocCounter2").value);
            while (i < id) {
                var j = i + 1;
                $("#FormDiv").append('<input id="NewSaderLoc' + j + '" name="NewSaderLoc' + j + '" type="text" class="ttext" maxlength="40" style="display: none;" />');
                i = i + 1;
            }
            var index2 = 1;
            while (index2 <= i) {
                var sader = "NewSaderLoc" + index2;
                $('#' + sader).val(document.getElementById('SaderLoc' + index2).value);
                index2 = index2 + 1;
            }
            document.getElementById("SaderLocCounter2").value = i;


            var id2 = parseInt(document.getElementById("CopyCounter").value);
            var i2 = parseInt(document.getElementById("CopyCounter2").value);
            while (i2 < id2) {
                var j = i2 + 1;
                $("#FormDiv").append('<input id="NewCopyTo' + j + '" name="NewCopyTo' + j + '" type="text" class="ttext" maxlength="40" style="display: none;"  />');
                i2 = i2 + 1;
            }
            var index3 = 1;
            while (index3 <= i2) {
                var cop = "NewCopyTo" + index3;
                $('#' + cop).val(document.getElementById('CopyTo' + index3).value);
                index3 = index3 + 1;
            }
            document.getElementById("CopyCounter2").value = i2;
        }
        return false;
    };

    $(function () {
        $("#Book_Date").datepicker({ dateFormat: 'yy/mm/dd' }).val();
        $("#ShBook_Date").datepicker({ dateFormat: 'yy/mm/dd' }).val();
    });

    function openModal() {
        $('[id*=TaModal1]').modal('show');
    };

    function Search_buttonClicked() {
        //alert("ss0");
        $('[id*=TaModal1]').modal('show');
    };


    function AddBookLoc() {
        var id = parseInt(document.getElementById("WardLocCounter").value);
        id = id + 1;
        document.getElementById("WardLocCounter").value = id;
        $("#WaredDiv2").append('<label>مصدر الكتاب ' + id + '</label>');
        $("#WaredDiv2").append('<input id="WardLoc' + id + '" name="WardLoc' + id + '" type="text" class="ttext" maxlength="40" /><br/>');
    };

    function AddBookLoc2() {
        var id = parseInt(document.getElementById("SaderLocCounter").value);
        id = id + 1;
        document.getElementById("SaderLocCounter").value = id;
        $("#SaderDiv").append('<label>الجهة المرسل اليها ' + id + '</label>');
        $("#SaderDiv").append('<input id="SaderLoc' + id + '" name="SaderLoc' + id + '" type="text" class="ttext" maxlength="40" /><br/>');
    };

    function AddCopy() {
        var id = parseInt(document.getElementById("CopyCounter").value);
        id = id + 1;
        document.getElementById("CopyCounter").value = id;
        $("#CopyDiv").append('<label>نسخة الى ' + id + '</label>');
        $("#CopyDiv").append('<input id="CopyTo' + id + '" name="CopyTo' + id + '" type="text" class="ttext" maxlength="40" /><br/>');
    };

    function BookFinction() {
        if ($('#BookType').val() == '2') {
            $('#SaderDiv').show();
            $('#SaderDiv2').show();
            $('#CopyDiv').show();
            $('#WaredDiv').hide();
            $('#WaredDiv2').hide();
        }
        else {
            $('#SaderDiv').hide();
            $('#SaderDiv2').hide();
            $('#CopyDiv').hide();
            $('#WaredDiv').show();
            $('#WaredDiv2').show();
        }
    }

    function StatusFinction() {
        if ($('#Status').val() == '1') {
            $('#DurationID').val('0');
            $('#RespBook_Date').val('');
        }
        else {

        }
    }

    $(function () {
        $("#Book_Date").datepicker({ dateFormat: 'yy/mm/dd' }).val();
        $("#BookWard_Date").datepicker({ dateFormat: 'yy/mm/dd' }).val();
    });


</script>

@if (ViewBag.JavaScriptFunction == "1")
{
<script>
    $('[id*=TaModal1]').modal('show');
</script>
}