﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<correspondence.ViewModels.Books>
@{
    if ((ViewBag.BType == null) || (ViewBag.BType == ""))
    {
        ViewBag.Title = "جميع الكتب التي لم يرد عليها";
    }
    else if (ViewBag.BType == "1")
    {
        ViewBag.Title = "الكتب التي لم يرد عليها الصادر";
    }
    else
    {
        ViewBag.Title = "الكتب التي لم يرد عليها الوارد";
    }
    Layout = "~/Views/Shared/_layout.cshtml";
}


<br />
@if ((ViewBag.BType == null) || (ViewBag.BType == ""))
{
    <h2>جميع الكتب التي لم يرد عليها</h2>
}
else if (ViewBag.BType == "1")
{
    <h2>الكتب التي لم يرد عليها الصادر</h2>
}
else
{
    <h2>الكتب التي لم يرد عليها الوارد</h2>
}
<br />

<div class="container">
    @if (ViewBag.Books.Count == 0)
    {
        <form action="@Url.Action("ProcessForm", "Book")" method="post">
            <div style="height: 76px">
                <input type="submit" name="All" value="الكل" id="MainBtn1" class="btn btn-secondary" />
                <input type="submit" name="Send" value="الصادر" id="MainBtn1" class="btn btn-secondary" />
                <input type="submit" name="Recived" value="الوارد" id="SecondBtn1" class="btn btn-secondary" />
            </div>
        </form>
        <br />
        <br />
        <label>لا يوجد كتب</label>
    }
    else
    {
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".Search-modal" data-whatever="0">البحث</button>
            <br /><br />
            <form action="@Url.Action("ProcessForm", "Book")" method="post">
                <div style="height: 76px">
                    <input type="submit" name="All" value="الكل" id="MainBtn1" class="btn btn-secondary" />
                    <input type="submit" name="Send" value="الصادر" id="MainBtn1" class="btn btn-secondary" />
                    <input type="submit" name="Recived" value="الوارد" id="SecondBtn1" class="btn btn-secondary" />
                </div>
            </form>


            <!-- Modal -->
            <form action="@Url.Action("NotAnsweredActionBook", "Book")" method="post" autocomplete="off">
                <div class="modal fade Search-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header text-justify">
                                <h5 class="modal-title text-right" id="exampleModalLongTitle">بحث عن بيانات الكتب</h5>
                            </div>
                            <div class="modal-body" style="text-align:center">
                                <input type="hidden" id="MyText" />
                                <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">رقم الكتاب</label> <input name="Book_num" style="width:25%;" placeholder="----اكتب رقم الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                                <br />
                                <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">الموضوع</label> <input name="Subject" style="width:25%;" type="text" placeholder="----اكتب موضوع الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                                <br />
                                <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">تاريخ الكتاب</label> <input id="Book_Date" name="Book_Date" style="width:25%;" type="text" placeholder="----اكتب تاريخ الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                                <br /><br />
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-primary" type="submit" value="بحــث" />
                                <label style="width: 5%; height: 34px; vertical-align: top;"> </label>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />

            <div id="MainDiv">
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color:#c3bf5b;">
                            <th scope="col">#</th>
                            <th scope="col">الموضــوع</th>
                            <th scope="col"> تاريخ الكتـاب / الوارد</th>
                            <th scope="col"> رقم الكتـاب / الوارد</th>
                            @if ((ViewBag.BType == null) || (ViewBag.BType == ""))
                            {
                                <th scope="col">نوع الكتـاب</th>
                            }
                            else
                            {

                            }
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                        }
                        @foreach (var Book in ViewBag.Books)
                        {
                            if (@Book.Book_rem > 3)
                            {
                                <tr class="alert-success" style="font-size: larger; font-weight: bold;">
                                    <td>@index</td>
                                    <td><a href="@Url.Action("ViewDetails", "Book", new { id = @Book.id })">@Book.Subject</a></td>
                                    
                                    @if (Book.BookType == "1")
                                    {
                                        <td>@Book.Ward_Date</td>
                                        <td>@Book.Ward_num</td>
                                    }
                                    else
                                    {
                                        <td>@Book.Book_Date</td>
                                        <td>@Book.Book_Num</td>
                                    }
                                    @if (((ViewBag.BType == null) || (ViewBag.BType == "")) && (Book.BookType == "1"))
                                    {
                                        <td><label><i style="color: red" data-feather="arrow-down"></i></label></td>
                                    }
                                    else if (((ViewBag.BType == null) || (ViewBag.BType == "")) && (Book.BookType == "2"))
                                    {
                                        <td><label><i style="color: green" data-feather="arrow-up"></i></label></td>

                                    }
                                    else
                                    {

                                    }
                                    @if (Book.Attachment > 0)
                                    {
                                        <td><a href="@Url.Action("GetFile", "Book", new { id = @Book.Attachment })">عرض</a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                            else if (@Book.Book_rem > 0)
                            {
                                <tr class="alert-warning" style="font-size: larger; font-weight: bold;">
                                    <td>@index</td>
                                    <td><a href="@Url.Action("ViewDetails", "Book", new { id = @Book.id })">@Book.Subject</a></td>
                                    @if (Book.BookType == "1")
                                    {
                                        <td>@Book.Ward_Date</td>
                                        <td>@Book.Ward_num</td>
                                    }
                                    else
                                    {
                                        <td>@Book.Book_Date</td>
                                        <td>@Book.Book_Num</td>
                                    }
                                    @if (((ViewBag.BType == null) || (ViewBag.BType == "")) && (Book.BookType == "1"))
                                    {
                                        <td><label><i style="color: green" data-feather="arrow-up"></i></label></td>
                                    }
                                    else if (((ViewBag.BType == null) || (ViewBag.BType == "")) && (Book.BookType == "2"))
                                    {
                                        <td><label><i style="color: red" data-feather="arrow-down"></i></label></td>
                                    }
                                    else
                                    {

                                    }
                                    @if (Book.Attachment > 0)
                                    {
                                        <td><a href="@Url.Action("GetFile", "Book", new { id = @Book.Attachment })">عرض</a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr class="alert-danger" style="font-size: larger; font-weight: bold;">
                                    <td>@index</td>
                                    <td><a href="@Url.Action("ViewDetails", "Book", new { id = @Book.id })">@Book.Subject</a></td>
                                    @if (Book.BookType == "1")
                                    {
                                        <td>@Book.Ward_Date</td>
                                        <td>@Book.Ward_num</td>
                                    }
                                    else
                                    {
                                        <td>@Book.Book_Date</td>
                                        <td>@Book.Book_Num</td>
                                    }
                                    @if (((ViewBag.BType == null) || (ViewBag.BType == "")) && (Book.BookType == "1"))
                                    {
                                        <td><label><i style="color: red" data-feather="arrow-down"></i></label></td>

                                    }
                                    else if (((ViewBag.BType == null) || (ViewBag.BType == "")) && (Book.BookType == "2"))
                                    {
                                        <td><label><i style="color: green" data-feather="arrow-up"></i></label></td>
                                    }
                                    else
                                    {

                                    }
                                    @if (Book.Attachment > 0)
                                    {
                                        <td><a href="@Url.Action("GetFile", "Book", new { id = @Book.Attachment })">عرض</a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }

                            index++;
                        }
                    </tbody>
                </table>
                <br /><br />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><label class="alert-success" style="width:100%">الكتب التي باقي على الرد عليها أكثر من 3 أيام</label></th>
                            <th scope="col"><label class="alert-warning" style="width:100%">الكتب التي باقي على الرد عليها أقل من 3 أيام</label></th>
                            <th scope="col"><label class="alert-danger" style="width:100%">الكتب التي انتهى وقت الرد عليها ولم يتم الرد</label></th>
                        </tr>
                </table>
                <div class="pagination">@Html.PagedListPager(Model, Page => Url.Action("NotAnsweredBook", new { Page }))</div>
            </div>
                            }
</div>
<script>

    $(function () {
        $("#Book_Date").datepicker({ dateFormat: 'yy/mm/dd' }).val();
    });
</script>
