﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<correspondence.ViewModels.Books>
@{
    ViewBag.Title = "الاستعلام عن الكتب";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<br />
<h2>الاستعلام عن الكتب</h2>
<br />

<div class="container">
    @if (ViewBag.Books.Count == 0)
    {
        <label>لا يوجد كتب</label>
    }
    else
    {
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".Search-modal" data-whatever="0">البحث</button>

        <!-- Modal -->
        <form action="@Url.Action("SearchingBook", "Book")" method="post" autocomplete="off"\>
            <div class="modal fade Search-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-justify">
                            <h5 class="modal-title text-right" id="exampleModalLongTitle">بحث عن بيانات الكتب</h5>
                        </div>
                        <div class="modal-body" style="text-align:center">
                            <input type="hidden" id="MyText" />
                            <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">رقم الكتاب</label> <input name="Book_num" style="width:25%;" placeholder="----اكتب رقم الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                            <br />
                            <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">الموضوع</label> <input name="Subject" style="width:25%;" type="text" placeholder="----اكتب موضوع الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                            <br />
                            <label style="width: 36%; height: 34px; vertical-align: top; margin-bottom: 12px; padding-right:2%;">تاريخ الكتاب</label> <input id="Book_Date" name="Book_Date" style="width:25%;" type="text" placeholder="----اكتب تاريخ الكتاب----" class="ttext" /> <label style="width: 19%; height: 34px; vertical-align: top;"> </label>
                            <br /><br />
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" type="submit" value="بحــث" />
                            <label style="width: 5%; height: 34px; vertical-align: top;"> </label>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <form action="@Url.Action("DeletingBook", "Book")" method="post">
            <div class="modal fade Delete-modal" id="Delete-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-justify">
                            <h5 class="modal-title text-right" id="exampleModalLongTitle">هل أنت متأكد من الحذف ؟</h5>
                        </div>
                        <div class="modal-footer">
                            <input id="Book_id" name="Book_id" type="text" class="ttext" style="display: none;" />
                            <input class="btn btn-primary" type="submit" value="نعم" />
                            <label style="width: 5%; height: 34px; vertical-align: top;"> </label>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">لا</button>
                        </div>
                    </div>
                </div>
            </div>
         </form>

            <br /><br />
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:#c3bf5b;">
                        <th scope="col">#</th>
                        <th scope="col">الموضــوع</th>
                        <th scope="col">تاريخ الكتـاب</th>
                        <th scope="col">رقم الكتـاب</th>
                        <th scope="col">حالـة الكتـاب</th>
                        <th scope="col">نوع الكتـاب</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int index = 1;
                    }
                    @foreach (var Book in ViewBag.Books)
                    {
                        <tr style="font-size: larger; font-weight: bold;">
                            <td>@index</td>
                            <td><a href="@Url.Action("ViewDetails", "Book", new { id = @Book.id })">@Book.Subject</a></td>
                            <td>@Book.Book_Date</td>
                            <td>@Book.Book_Num</td>
                            <td>@Book.Status</td>
                            @if (Book.BookType == "1")
                            {
                                <td><label><i style="color: red" data-feather="arrow-down"></i></label></td>
                            }
                            else if (Book.BookType == "2")
                            {
                                <td><label><i style="color: green" data-feather="arrow-up"></i></label></td>
                            }
                            else
                            {

                            }
                            <td><a href="@Url.Action("EditBook", "Book", new { id = @Book.id })"><i data-feather="edit"></i></a><label>   </label><a data-toggle="modal" data-target=".Delete-modal" data-whatever="@Book.id"><i data-feather="trash-2"></i></a></td>
                        </tr>
                        index++;


                    }
                </tbody>
            </table>
            <div class="pagination">@Html.PagedListPager(Model, Page => Url.Action("SearchBook", new { Page }))</div>




            }
    </div>
        <script>
            $(function () {
                $("#Book_Date").datepicker({ dateFormat: 'yy/mm/dd' }).val();
            });

            $('#Delete-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('#Book_id').val(recipient)
                //modal.find('.modal-body input').val(recipient)
            })
        </script>


