﻿
@{
    ViewBag.Title = "عرض الكتاب ";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="container">
    <br />
    <div style="height: 76px">
        <input type="button" value="بيانات الكتاب" id="MainBtn1" class="btn btn-secondary" onclick="Main_buttonClicked()" />
        <input type="button" value="بيانات مرفقات الكتاب" id="SecondBtn1" class="btn btn-secondary" onclick="ThirdBtn_buttonClicked()" />
        <input type="button" value="بيانات الكتب المربوطة" id="SecondBtn1" class="btn btn-secondary" onclick="SecondBtn_buttonClicked()" />
    </div>

    <form action="@Url.Action("SearchBook","Book")" method="post">
        <div id="BookDetails">
            <h2>بيانات الكتاب</h2>
            <br />
            <input id="id" name="id" type="text" class="ttext" value="@ViewBag.Books.id" style="display: none;" />



            <table class="table table-striped table-hover">
                <tbody>

                    <tr id="WardNum">
                        <td style="text-align:left;">رقم الوارد</td>
                        <td><label>@ViewBag.Books.Ward_num</label></td>
                    </tr>

                    <tr id="WardDate">
                        <td style="text-align:left;">تاريخ الوارد</td>
                        <td><label>@ViewBag.Books.Ward_Date</label></td>
                    </tr>

                    <tr>
                        <td class="tableWd">رقم الكتـاب</td>
                        <td style="text-align:center;"><label>@ViewBag.Books.Book_Num</label></td>
                    </tr>

                    <tr>
                        <td style="text-align:left;">تاريخ الكتـاب</td>
                        <td><label>@ViewBag.Books.Book_Date</label></td>
                    </tr>

                    
                    <tr>
                        <td style="text-align:left;">الموضــوع</td>
                        <td><label style="width:100%;">@ViewBag.Books.Subject</label></td>
                    </tr>

                    <tr>
                        <td style="text-align:left;">الوجهة أو التحويل</td>
                        <td>
                            @if ((@ViewBag.Books.Destination == "") || (@ViewBag.Books.Destination == "0"))
                            {
                                <label>---</label>
                            }
                            else if (@ViewBag.Books.Destination == "1")
                            {
                                <label>المراسم</label>
                            }
                            else if (@ViewBag.Books.Destination == "2")
                            {
                                <label>الشئون القانونية</label>
                            }
                            else if (@ViewBag.Books.Destination == "3")
                            {
                                <label>الشئون العامة</label>
                            }
                            else if (@ViewBag.Books.Destination == "4")
                            {
                                <label>مكتب رئيس الهيئة</label>
                            }
                            else if (@ViewBag.Books.Destination == "5")
                            {
                                <label>خدمة المواطن</label>
                            }
                            else if (@ViewBag.Books.Destination == "6")
                            {
                                <label>الشئون العسكرية</label>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:left;">نوع الكتاب</td>
                        <td>
                            @if (@ViewBag.Books.BookType == "")
                            {
                                <label>---</label>
                            }
                            else if (@ViewBag.Books.BookType == "1")
                            {
                                <label>وارد</label>
                            }
                            else
                            {
                                <label>صادر</label>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:left;">حالـة الكتـاب</td>
                        <td>
                            @if (@ViewBag.Books.Status == "0")
                            {
                                <label>---</label>
                            }
                            else if (@ViewBag.Books.Status == "1")
                            {
                                <label>تم الرد</label>
                            }
                            else
                            {
                                <label>لم يتم الرد</label>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:left;">متى الرد؟</</td>
                        <td>
                            @if (@ViewBag.Books.Duration == 0)
                            {
                                <label>---</label>
                            }
                            else if (@ViewBag.Books.Duration == 1)
                            {
                                <label>خلال يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 2)
                            {
                                <label>خلال يومين</label>
                            }
                            else if (@ViewBag.Books.Duration == 3)
                            {
                                <label>خلال 3 أيام</label>
                            }
                            else if (@ViewBag.Books.Duration == 4)
                            {
                                <label>خلال 4 أيام</label>
                            }
                            else if (@ViewBag.Books.Duration == 5)
                            {
                                <label>خلال 5 أيام</label>
                            }
                            else if (@ViewBag.Books.Duration == 6)
                            {
                                <label>خلال 6 أيام</label>
                            }
                            else if (@ViewBag.Books.Duration == 7)
                            {
                                <label>خلال 7 أيام</label>
                            }
                            else if (@ViewBag.Books.Duration == 8)
                            {
                                <label>خلال 8 أيام</label>
                            }
                            else if (@ViewBag.Books.Duration == 9)
                            {
                                <label>خلال 9 أيام</label>
                            }
                            else if (@ViewBag.Books.Duration == 10)
                            {
                                <label>خلال 10 أيام</label>
                            }
                            else if (@ViewBag.Books.Duration == 11)
                            {
                                <label>خلال 11 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 12)
                            {
                                <label>خلال 12 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 13)
                            {
                                <label>خلال 13 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 14)
                            {
                                <label>خلال 14 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 15)
                            {
                                <label>خلال 15 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 16)
                            {
                                <label>خلال 16 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 17)
                            {
                                <label>خلال 17 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 18)
                            {
                                <label>خلال 18 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 19)
                            {
                                <label>خلال 19 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 20)
                            {
                                <label>خلال 20 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 21)
                            {
                                <label>خلال 21 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 22)
                            {
                                <label>خلال 22 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 23)
                            {
                                <label>خلال 23 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 24)
                            {
                                <label>خلال 24 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 25)
                            {
                                <label>خلال 25 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 26)
                            {
                                <label>خلال 26 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 27)
                            {
                                <label>خلال 27 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 28)
                            {
                                <label>خلال 28 يوم</label>
                            }
                            else if (@ViewBag.Books.Duration == 29)
                            {
                                <label>خلال 29 يوم</label>
                            }
                            else
                            {
                                <label>خلال 30 يوم</label>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:left;">الكتاب الذي تم الرد عليه</td>
                        <td><label>@ViewBag.Books.Book_Response</label></td>
                    </tr>

                    @*<tr>
                        <td style="text-align:left;">مرفقات</td>
                        <td>
                            @if (ViewBag.Books.Attachment != null)
                            {
                                <a href="@Url.Action("GetFile", "Book", new { id = ViewBag.Books.Attachment })">تنزيل</a>
                            }
                        </td>
                    </tr>*@

                    <tr>
                        <td style="text-align:left;">سري</td>
                        <td>
                            @if (@ViewBag.Books.Secret == 0)
                            {
                                <label>---</label>
                            }
                            else if (@ViewBag.Books.Secret == 1)
                            {
                                <label>لا</label>
                            }
                            else if (@ViewBag.Books.Secret == 2)
                            {
                                <label>نعم</label>
                            }
                            else
                            {
                                <label>---</label>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:left;">ملاحظات الوزير</td>
                        <td><label>@ViewBag.Books.Wazeer_Note</label></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="BooksTables">
            <h2>بيانات جميع الكتب</h2>
            <br />
            <table class="table table-striped table-hover">
                <thead>
                    <tr style="background-color:#c3bf5b;">
                        <th scope="col">#</th>
                        <th scope="col">الموضــوع</th>
                        <th scope="col">تاريخ الكتـاب</th>
                        <th scope="col">رقم الكتـاب</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int index = 1;
                    }
                    @foreach (var Book in ViewBag.ParentBooks)
                    {
                        if (@Book.id == @ViewBag.Books.id)
                        {
                            <tr style="color:red; font-size: x-large;">
                                <td>@index</td>
                                <td>@Book.Subject</td>
                                <td>@Book.Book_Date</td>
                                <td>@Book.Book_Num</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@index</td>
                                <td><a href="@Url.Action("ViewDetails", "Book", new { id = @Book.id })">@Book.Subject</a></td>
                                <td>@Book.Book_Date</td>
                                <td>@Book.Book_Num</td>
                            </tr>
                        }
                        index++;
                    }
                </tbody>
            </table>
        </div>

        <div id="BookAttachs">
            <h2>بيانات مرفقات الكتاب</h2>
            <br />
            <br />

            @if (ViewBag.Book_Attach.Count > 0)
            {
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color:#c3bf5b;">
                            <th scope="col">#</th>
                            <th scope="col">اسم الملف</th>
                            <th scope="col">نوع الملف</th>
                            <th scope="col">تنزيل</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int index4 = 1;
                        }
                        @foreach (var attach in ViewBag.Book_Attach)
                        {
                            <tr style="font-size: larger; font-weight: bold;">
                                <td>@index4</td>
                                <td>@attach.Name</td>
                                <td>@attach.content_type</td>
                                @if (attach.Attach != null)
                                {
                                    <td><a href="@Url.Action("GetFile", "Book", new { id = attach.id })">تنزيل</a></td>
                                }
                                else
                                {
                                    <td>لا يوجد الملف</td>
                                }
                            </tr>
                            index4++;


                        }
                    </tbody>
                </table>
                            }
                            else
                            {
                                <h2>لا يوجد مرفقات لهذا الكتاب</h2>
                            }

        </div>

        


        <br /><br /><br />
        <input class="btn btn-primary" type="submit" value="اغلاق" />

    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#BookDetails').show();
            $('#BooksTables').hide();
            $('#BookAttachs').hide();
            var booktype = @ViewBag.Books.BookType;
            if(booktype == "1")
            {
                $('#WardNum').show();
                $('#WardDate').show();
            }
            else
            {
                $('#WardNum').hide();
                $('#WardDate').hide();
            }
        });

        function Main_buttonClicked() {
            $('#BookDetails').show();
            $('#BooksTables').hide();
            $('#BookAttachs').hide();
            return false;
        };

        function SecondBtn_buttonClicked() {
            $('#BookDetails').hide();
            $('#BooksTables').show();
            $('#BookAttachs').hide();
            return false;
        };

        function ThirdBtn_buttonClicked() {
            $('#BookDetails').hide();
            $('#BooksTables').hide();
            $('#BookAttachs').show();
            return false;
        };
   </script>


</div>



