﻿nav
{
	background-color: #f9f9f9;
}

body
{
    width: 100%;
}

.navbar a
{
    font-size: 17px;
    margin-left: 10px;
}

.form-div
{
    width: 70%;
    border: 1px solid #d3d061;
    background-color: #FFF;
    font-weight:bold;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    padding: 5px 0px;
}
.form-div .radio-center
{
    width: 30%;
    border: 1px solid #d3d061;
    background-color: #FFF;
     border-radius: 10px;
   
    display:inline-block;
    vertical-align: top;
    text-align: center;
}


.form-div .form-block
{
    width: 85%;
    border: 1px dashed #d3d061;
    background-color: #FFF;
     border-radius: 10px;
   
    display: block;
    vertical-align: top;
    text-align: center;
}
.form-submit-div
{
    width: 70%;
    border: 1px solid #d3d061;
    background-color: #f9ffdc;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding: 5px 0px;
     font-weight:bold;
}

.form-submit-div input 
{
    border-radius: 10px;
   
}
hr
{
    color: #000;
    background-color: #000;
    border-color: #000;
}

label {
    width: 20%;
    display: inline-block;
    text-align: center;
}

.ttext {
    width: 20%;
}

<style >
.pagination {
    clear: both;
    position: center;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

    .pagination a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .pagination a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.tableWd {
    width: 40%;
    text-align: left;
}