﻿
@{
    ViewBag.Title = "تغيير كلمة المرور";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <br />
    <h2>تغيير كلمة السر</h2>
    <form action="@Url.Action("ChangingPassword","Users")" method="post">
        <br />
        <label>كلمة المرور السابقة</label> <input id="username" name="old_password" type="password" class="ttext" required /> <br />

        <label> كلمة المرور الجديدة</label> <input id="password" name="password" type="password" class="ttext" required /> <br />
        <label> إعادة كتابة كلمة المرور الجديدة</label> <input id="comfirm_password" name="comfirm_password" type="password" class="ttext"> <br />
        <br /><br /><br />
        <input class="btn btn-primary" type="submit" value="تغيير" />
    </form>
</div>
