﻿
@{
    ViewBag.Title = "Login";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link href="~/Content/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="~/Content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
</head>

<body dir="rtl">
    <div class="text-center">
        <img alt="Sym" src="@Url.Content("~/Content/images/SYM.png")" />
    </div><br /><br />
    <div class="text-center">
        <br />
        @RenderPage("~/Views/Shared/alert.cshtml")
    </div>
        <br /><br /><br />
        <link href="~/Content/styles/signin.css" rel="stylesheet" type="text/css" media="all">
        <form class="form-signin" action="@Url.Action("Logining","Users")" method="post">
            <h1 style="margin: 0 auto; text-align: center" class="h3 mb-3 font-weight-normal">الدخول للنظام</h1>
            <label for="inputCivilid" class="sr-only">الرقم المدني</label>
            <input type="text" name="username" id="inputCivilid" class="form-control" placeholder="الرقم المدني" required autofocus>
            <label for="inputPassword" class="sr-only">كلمة المرور</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="كلمة المرور" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">دخول</button>

        </form>
</body>
