﻿
@{
    ViewBag.Title = "تسجيل مستخدم جديد";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <br />
    <h2>إضافة مستخدم</h2>
    <form action="@Url.Action("Registering","Users")" method="post">
        <br />
        <label>الرقم المدني</label> <input id="username" name="username" type="text" class="ttext" required /> <br />
        <label>الأسم</label> <input id="name" name="name" type="text" class="ttext" required /> <br />
        <label>كلمة المرور</label> <input id="password" name="password" type="password" class="ttext" required /> <br />
        <label>إعادة كتابة كلمة المرور</label> <input id="comfirm_password" name="comfirm_password" type="password" class="ttext"> <br />
        <label>المستوى</label>
        <select name="user_level" class="ttext btn btn-light dropdown-toggle">
            @foreach (var level in ViewBag.levels)
            {
                <option value=@level.Key>@level.Value</option>
            }


        </select>
        <br />
        <label>صلاحية الادارة</label>
        <select name="user_Dept" class="ttext btn btn-light dropdown-toggle">
            @foreach (var Dept in ViewBag.User_Department)
            {
                <option value=@Dept.Key>@Dept.Value</option>
            }

        </select>
        <br /><br /><br />
        <input class="btn btn-primary" type="submit" value="إضافة مستخدم" />
    </form>
</div>


