﻿
@{
    ViewBag.Title = "قائمة المستخدمين";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>قائمة المستخدمين</h2><br /><br />

@if (ViewBag.users.Count == 0)
{
    <h5>لا يوجد مستخدمين  <br /><br /><a href="@Url.Action("Register", "Users")">إضافة مستخدم جديد</a></h5>
    }
    else
    {
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">الرقم المدني</th>
                <th scope="col">الاسم</th>
                <th scope="col">الصلاحيات</th>
                <th scope="col">آخر دخول</th>
            </tr>
        </thead>

        @foreach (var user in ViewBag.users)
        {

            <tr>

                <td>@user.username</td>
                <td>@user.name</td>
                <td>@ViewBag.levels[@user.user_level]</td>
                <td>@user.lastlogin</td>
            </tr>

        }
    </table>

}
