﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Content/js/feather.min.js"></script>
    <link href="~/Content/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="~/Content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/styles/layout.css" rel="stylesheet" type="text/css" media="all">


    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="~/Content/jquery-ui-1.12.1/jquery-ui.js"></script>
</head>

<body dir="rtl">
    <div class="text-center">
        <img alt="Sym" src="@Url.Content("~/Content/images/SYM.png")" />
    </div>

    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <ul class="navbar-nav  justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><i data-feather="home"></i> الصفحة الرئيسية</a>
                    </li>
                    @if ((Session["auth_isLogin"] != null) &&((int)Session["auth_level"] == 1))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dir="rtl">
                                <i data-feather="user"></i> المستخدمين
                            </a>



                            <div style="text-align: right;" class="dropdown-menu " aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Show", "Users")"> <i data-feather="users"></i> عرض</a>
                                <a class="dropdown-item" href="@Url.Action("Register", "Users")"> <i data-feather="plus"></i> إضافة</a>
                            </div>
                        </li>
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dir="rtl">
                            <i data-feather="book-open"></i> الكتب
                        </a>
                        <div style="text-align: right;" class="dropdown-menu " aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("SearchBook","Book")"> <i data-feather="users"></i> استعلام</a>

                            <a class="dropdown-item" href="@Url.Action("AddBook","Book")"> <i data-feather="plus"></i> إضافة</a>

                            <a class="dropdown-item" href="@Url.Action("NotAnsweredBook","Book")"> <i data-feather="phone-missed"></i> كتب لم يتم الرد عليها</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ChangePassword", "Users")"><i data-feather="user"></i> الاعدادات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Logout","Users")"><i data-feather="unlock"></i> خروج</a>
                    </li>


                </ul>

            </div>
        </nav>
    </header>

    <div class="container">
        <div class="text-center"><br />
            @RenderPage("~/Views/Shared/alert.cshtml")

            @RenderBody()
        </div>
    </div>
    <script>
        feather.replace()
    </script>
</body>
</html>