﻿@{
    if (ViewBag.alert != null)
    {
        <fieldset>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.alert
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </fieldset>
    }

    if (ViewBag.error != null)
    {
        <fieldset>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @ViewBag.error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </fieldset>
    }
}